<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <display-name>Косметический салон</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>by.training.beautysalon.controller.DispatcherServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
        <!--<filter-name>encodingFilter</filter-name>-->
        <!--<filter-class>by.training.beautysalon.filter.EncodingFilter-->
        <!--</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>encodingFilter</filter-name>-->
        <!--<url-pattern>*.html</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<filter>-->
    <!--<filter-name>Action</filter-name>-->
    <!--<filter-class>by.training.beautysalon.filter.ActionFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>Action</filter-name>-->
    <!--<url-pattern>*.html</url-pattern>-->
    <!--</filter-mapping>-->
    <!--<filter>-->
    <!--<filter-name>Security</filter-name>-->
    <!--<filter-class>SecurityFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>Security</filter-name>-->
    <!--<url-pattern>*.html</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>