<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <description>
        Application for parsing the .xml file.
    </description>
    <display-name>Parser app</display-name>

    <request-character-encoding>UTF-8</request-character-encoding>
    <welcome-file-list>
        <welcome-file>parse</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>parsing</servlet-name>
        <servlet-class>by.training.tourist_vouchers.servlet.Servlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>parsing</servlet-name>
        <url-pattern>/parse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>timeaction</servlet-name>
        <servlet-class>by.training.tourist_vouchers.servlet.TimeServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>timeaction</servlet-name>
        <url-pattern>/timeaction</url-pattern>
    </servlet-mapping>


</web-app>